In [44]:
import pandas as pd
import pickle as pkl
import numpy as np

In [45]:
def load_pkl(filepath):
    with open(filepath, 'rb') as f:
        return pkl.load(f)

In [46]:
rets=load_pkl("Data Storage/ret_dict.pkl")
rvs=load_pkl("Data Storage/rv_dict.pkl")

In [47]:
all_dates=list(rets.keys())

In [48]:
reg_thresh=15

for i in range(len(all_dates)):

    if (i+1)<reg_thresh:
        print('NOT COMPUTED: '+all_dates[i])
    else:
        ret_list=[]
        rv_list=[]
        for j in range(reg_thresh):
            ret_list.append(rets[all_dates[i-j]])
            rv_list.append(rvs[all_dates[i-j]])
        rv_temp=pd.concat(rv_list)
        ret_temp=pd.concat(ret_list)
        break

NOT COMPUTED: 2014-11-13
NOT COMPUTED: 2014-11-14
NOT COMPUTED: 2014-11-17
NOT COMPUTED: 2014-11-18
NOT COMPUTED: 2014-11-19
NOT COMPUTED: 2014-11-20
NOT COMPUTED: 2014-11-21
NOT COMPUTED: 2014-11-24
NOT COMPUTED: 2014-11-25
NOT COMPUTED: 2014-11-26
NOT COMPUTED: 2014-11-28
NOT COMPUTED: 2014-12-01
NOT COMPUTED: 2014-12-02
NOT COMPUTED: 2014-12-03

In [52]:
ticker='AAL'

cols=pd.concat([rv_temp[ticker],ret_temp[ticker]],axis=1).dropna()
cols.columns=['RV','RET']

In [54]:
cols['RVxRET']=cols['RV']*cols['RET']

In [55]:
cols

                            RV       RET    RVxRET
DT
2014-12-04 09:30:00  10.683260 -0.002218 -0.023693
2014-12-04 09:35:00   4.271757  0.002344  0.010013
2014-12-04 09:40:00   2.965638 -0.002738 -0.008119
2014-12-04 09:45:00   3.405838  0.006060  0.020640
2014-12-04 09:50:00   1.974487 -0.000201 -0.000397
...                        ...       ...       ...
2014-11-28 12:40:00   4.072665 -0.004944 -0.020137
2014-11-28 12:45:00   4.191499  0.000826  0.003463
2014-11-28 12:50:00   5.746504 -0.001156 -0.006645
2014-11-28 12:55:00   5.968153  0.005095  0.030407
2014-11-28 13:00:00   1.460030  0.000000  0.000000

[358 rows x 3 columns]